<div class="section section-over-image teal-text text-lighten-2">

  <!-- Top Row, current conditions -->

  <div class="row top-row">
    <div class="col s12">
      <h1>Weather in <%= @city %>, <%= @state %></h1>
      <button class="waves-effect waves-light btn alerts-button" data-target="modal1">Weather Alerts</button><br>
      <div class="row">
        <div class="col s12">
          <h2 class="blue-grey-text text-lighten-3">Current Conditions</h2>
          <div class="row">
            <div class="col l6 m6 s12">
              <h4><%= @summary %></h4>
              <h4><%= @temp %> &deg;F</h4>
              <h4><span class="red-text text-lighten-2"><%= @high_temp %>&deg;</span>/<span class="blue-text text-lighten-2"><%= @low_temp %>&deg;</span></h4>
            </div>
            <div class="col l6 m6 s12">
              <h4>Feels like: <%= @feels_like %> &deg;F</h4>
              <h4>Humidity: <%= @humidity %>%</h4>
              <h4>Precipitation: <%= @chance_of_precip %>%</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <h2 class="blue-grey-text text-lighten-3">3-Day Outlook</h2>
      <div class="row">
        <div class="col l4 m6 s12 days_ahead_columns">
          <h3><%= @day1 %></h3>
          <h4><%= @day1_summary %></h4>
          <h4><span class="red-text text-lighten-2"><%= @day1_max %>&deg;</span>/<span class="blue-text text-lighten-2"><%= @day1_min %>&deg;</span></h4>
          <h4>Precipitation: <%= @day1_precip %>%</h4>
        </div>
        <div class="col l4 m6 s12 days_ahead_columns">
          <h3><%= @day2 %></h3>
          <h4><%= @day2_summary %></h4>
          <h4><span class="red-text text-lighten-2"><%= @day2_max %>&deg;</span>/<span class="blue-text text-lighten-2"><%= @day2_min %>&deg;</span></h4>
          <h4>Precipitation: <%= @day2_precip %>%</h4>
        </div>
        <div class="col l4 m12 s12">
          <h3><%= @day3 %></h3>
          <h4><%= @day3_summary %></h4>
          <h4><span class="red-text text-lighten-2"><%= @day3_max %>&deg;</span>/<span class="blue-text text-lighten-2"><%= @day3_min %>&deg;</span></h4>
          <h4>Precipitation: <%= @day3_precip %>%</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div id="modal1" class="modal bottom-sheet">
  <div class="modal-content">
    <% if @alerts.any? %>
      <% @alerts.each do |alert| %>
        <h4 class='teal-text text-darken-2'><%= alert.fetch('title') %></h4>
        <p class='teal-text text-darken-2'><%= alert.fetch('description') %></p>
      <% end %>
    <% else %>
      <h4 class='teal-text text-darken-2'>No Current Weather Alerts</h4>
    <% end %>
  </div>
</div>
